.rockets-heading {
  color: rgb(185, 179, 179);
  margin-bottom: 0.8em;
  font-size: 3em;
  font-style: italic;
}

.eachRocket {
  background-color: white;
  border-radius: 10px;
  width: 22em;
  height: 3em;
  font-family: "Roboto", sans-serif;
  color: rgb(138, 131, 131);
  border: 1px solid rgb(138, 131, 131);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}
