body {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  width: 1320px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background-color: #eceff1;
  height: auto;
}

.navbar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3em;
}

.planetIcon {
  width: 80px;
  height: 80px;
}

.header-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  text-indent: 0.3em;
  color: #8b7a7a;
  margin-left: 1em;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 2px;
  height: 1.5em;
  margin-right: 1.2em;
  background-color: #8f7a7a;
  display: inline-block;
}

.navbar__link {
  margin-right: 1em;
  font-size: 1.3em;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  text-decoration: none;
  text-indent: 0.3em;
  color: #29b6f6;
  border-bottom: 3px solid transparent;
}

.navbar__link:hover {
  transform: translateY(-2px);
}

.navbar__link--active {
  border-bottom: 3px solid #29b6f6;
  transition: border-bottom 0.5s ease-in-out;
}
